{# watchout #}
{# watchout/templates/js/info_window_tpl.html #}

{% load i18n %}

<script type="text/template" id="id-info-window-tpl">
    <div id="content">
        <div id="siteNotice"></div>
        <% if (event.name) { %>
            <h4><%= event.name %></h4>
        <% } %>
        <% if (event.start) { %>
            <h4>Event is scheduled for: <%= event.start %></h4>
        <% } %>
        <% if (event.description) { %>
            <div id="bodyContent"><%= event.description %></div>
        <% } %>
    </div>
</script>
