{# watchout #}
{# watchout/templates/js/items_list_tpl.html #}

{% load i18n %}

<script type="text/template" id="id-items-list-tpl">
    <div class='items-list__item'>
        <div class='items-list__item-name'>
            <%= event.name %>
        </div>
        <div class='items-list__item-time'>
            <%= diff %> {% trans "hours till event" %}
        </div>
        <div class='items-list__item-location'>
            <%= event.address %>
        </div>
    </div>
</script>
