html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body.show-interface {

}
#map {
	width: 100%;
}
body.show-interface #map {
	width: 70%;
}
#search {
    position: absolute;
    top: 5%;
    left: 3%;
    transition: all .5s ease;
    opacity: 0;
    background: rgba(255, 255, 255, .95);
    transform: translate(0, -100%);
    box-shadow: 0px 1px 6px rgba(0,0,0,.5);
    border-radius: 3px;
    overflow: hidden;
}
#search > * {
    float: left;
    border: none;
    padding: 10px;
    border-right: 1px solid #B6B6B6;
    color: #212121;
    background: transparent;
}
@media screen and (max-width:1260px){
	#search > * {
	    float: none;
	    display: block;
	    width: 100%;
	}
}
body.show-interface #search {
    opacity: 1;
    transform: translate(0, 0);
}
.form-datepicker {
    width: 100px;
}
.form-time {
    width: 25px;
    padding: 0!important;
    border-right: none!important;
    text-align: center;
    height: 40px;
}
.form-from, .form-till {
    border-right: none!important;
    color: #B6B6B6!important;
}
.form-submit {
    background: #03A9F4!important;
    color: white!important;
    border-right: none!important;
    transition: all 0.1s ease;
    outline: none;
}
.form-submit:hover {
    background: #0090DB!important;
}
.form-submit:active {
    background: #0076C1!important;
}
.items {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    margin: auto;
    background: white;
    overflow: auto;
    transition: all .7s ease;
    box-shadow: 0px 0 5px rgba(0,0,0,.5);
    opacity: 0;
    transform: translate(100%, 0);
}
body.show-interface .items {
    opacity: 1;
    transform: translate(0, 0);
}
.items-list-heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 101px;
    font-size: 36px;
    padding: 25px;
    background: #FF5722;
    color: white;
    position: relalive;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}
.items-list {
    position: absolute;
    top: 101px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}
.items-list__item {
    padding: 25px;
    font-size: 20px;
    color: #212121;
    transition: all 0.2s ease;
}
.items-list__item:hover {
    box-shadow: 0 0 3px black;
    cursor: pointer;
}
.items-list__item-time {
    font-size: 16px;
    color: #727272;
}
.items-list__item-location {
    font-size: 12px;
    color: #727272;
}
.tutorial {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
    z-index: 10;
    text-align: center;
    color: white;
    transition: all .3s ease;
}
.tutorial-logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 16px;
}
.tutorial-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
    transition: all .5s ease;
}
.tutorial-show .tutorial-bg {
    background: rgba(0,0,0,0.6);
}
.tutorial-close {
    position: absolute;
    right: 15px;
    top: 15px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 26px;
    font-weight: 300;
    background-color: transparent;
    transition: all .2s ease;
    z-index: 100;
}
.tutorial-close:hover {
    background-color: #00559E;
    cursor: pointer;
}
.tutorial-box {
    opacity: 0;
    transform: translate(0,-100px);
    position: absolute;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 500px;
    height: 300px;
    background: #0288D1;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,.5);
    transition: all .5s ease;
}
.tutorial-show .tutorial-box {
    opacity: 1;
    transform: translate(0,0);
}
.tutorial-box h1 {
    position: absolute;
    padding: 0 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    margin: auto;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translate(0,-50px);
}
.tutorial-box h1.fadeIn {
    opacity: 1;
    transform: translate(0,0);
}