{# watchout #}
{# watchout/templates/base.html #}

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% trans "Main" %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8">
        <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon"/>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "lib/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "lib/css/bootstrap-datepicker.css" %}" />
        <link rel="stylesheet" href="{% static "watchout/css/style.css" %}" />
    </head>
    <body>
    {% block js_tpl %}{% endblock %}
    {% block content %}{% endblock %}
    </body>
</html>
