{# watchout #}
{# watchout/templates/index.html #}

{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% load sitemetrics %}

{% block content %}
    <div id="map"></div>
    <div id="search">
        <input id="search_word" type="text" class="form-search" placeholder="{% trans "Search for..." %}" autofocus>
        <input id="date" type="text" class="form-datepicker datepicker" placeholder="NOW">
        <!-- <div class="form-from">from:</div> -->
        <!-- <input id="time_from" type="text" class="form-time form-time-from" placeholder="from" value="00:00"> -->
        <div class="form-till">events for next</div>
        <input id="time_to" type="text" class="form-time form-time-till" placeholder="to" value="2">
        <div class="form-till">hour(s)</div>
        <button id="submit" class="form-submit go" type="submit">{% trans "Go!" %}</button>
    </div>
    <div class="items">
        <div class="items-list-heading">{% trans "Top 5 events nearby" %}</div>
        <div class="items-list"></div>
    </div>
    <div class="tutorial">
        <div class="tutorial-bg"></div>
        <div class="tutorial-box">
            <div class="tutorial-close">&times;</div>
            <h1 style="height: 80px;">{% trans "Hi!" %}</h1>
            <h1 style="height: 100px;">{% trans "Wanna know what's happening around you?" %}</h1>
            <h1 style="height: 100px;">{% trans "Check out these fun events right now!" %}</h1>
            <div class="tutorial-logo">{% trans "WhatWhereWhen" %}</div>
        </div>
    </div>
    <script src="{% static "lib/js/jquery.min.js" %}"></script>
    <script src="{% static "lib/js/bootstrap.min.js" %}"></script>
    <script src="{% static "lib/js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "lib/js/sprintf.min.js" %}"></script>
    <script src="{% static "lib/js/underscore-min.js" %}"></script>
    {# django generated JS #}
    <script type="text/javascript" src="{% url "jsi18n" %}"></script>
    {# local #}
    <script src="{% static "watchout/js/watchout.js" %}"></script>
    <script async defer
        src="//maps.googleapis.com/maps/api/js?key=AIzaSyDOP_GJboZcLRE-C3czZQQeuJaDVNN-7Lc&callback=initMap&language={{ LANGUAGE_CODE }}&v=3">
    </script>
    {% sitemetrics %}
{% endblock %}

{% block js_tpl %}
    {% include "js/info_window_tpl.html" %}
    {% include "js/items_list_tpl.html" %}
{% endblock %}
